:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.rectangle {
  position: absolute; /* Allows positioning with top and left */
  width: var(--rect-width, 400px); /* Default width if not set */
  height: var(--rect-height, 150px); /* Default height if not set */
  top: var(--rect-top, 50px); /* Fixed top position */
  left: var(--rect-left, 700px); /* Fixed left position */
  background-color: var(
    --rect-bg-color,
    #d6a766
  ); /* Default color if not set */
}

.new_day_rect {
  position: absolute; /* Allows positioning with top and left */
  width: var(--rect-width, 600px); /* Default width if not set */
  height: var(--rect-height, 600px); /* Default height if not set */
  top: 150px; /* Fixed top position */
  left: 150px; /* Fixed left position */
  background-color: var(
    --rect-bg-color,
    #d5b1f2
  ); /* Default color if not set */
}

@font-face {
  font-family: "londrina";
  src: url("../public/assets/fonts/LondrinaSketch-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-box {
  width: var(--width, 200px);
  word-wrap: break-word; /* Allows long words to break and wrap */
  overflow-wrap: break-word; /* Ensures any long word will wrap */
  padding: 10px; /* Adds space around the text */
}


body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text color */
}

/* Override system preferences */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important; /* Force light background */
    color: #000000 !important; /* Force dark text */
  }
}
